<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<title>JY_almacen</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/admin/css/font-awesome.min.css}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" th:href="@{/admin/css/slick-team-slider.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/admin/css/style.css}">
</head>
<body>
  
  <div class="container">
  <div class="row">
  <div class="col">
  
  	<div	th:fragment="header" class="col">
		<div 	th:replace="admin/cuerpo/header"></div>
	 </div>


  </div>
  </div>
  </div>
  
  
  



  <script th:src="@{/admin/js/jquery.min.js}"></script>
  <script th:src="@{/admin/js/jquery.easing.min.js}"></script>
  <script th:src="@{/admin/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/admin/js/slick.min.js}"></script>
  <script type="text/javascript" th:src="@{/admin/js/custom.js}"></script>
  <script th:src="@{/admin/contactform/contactform.js}"></script>
</body>